# Foundation: Verification & Analysis

## Bibliography
1. Pezzè, Mauro, and Young, Michal. "Software Testing and Analysis", John Wiley & Sons, 2007.
2. Vandevoorde, D., Josuttis, N.M., and Gregor, D. "C++ Templates: The Complete Guide", Addison-Wesley, 2017.
3. Kahn, Arthur B. "Topological sorting of large networks", Communications of the ACM, 1962.